body{
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    margin: 0;
    grid-template-columns: 1fr;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: 
    "logo search cart";
    grid-template-columns: 0.3fr 1fr 0.3fr;
    background-color: orange;
}

main{
    grid-area: main;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 500px;
}

/*Scrollar åt fel håll(:*/
article{
    background-color: palegreen;
    height: 250px;
    overflow: auto;
    /*white-space: nowrap;*/
}

/*Poster element */
section{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: palevioletred;
    height: 100%;
    width: 250px;
}

footer{
    grid-area: footer;
    background-color: orangered;
    min-height: 100px;
}

h2{
    margin: 0;
}

/*Nav form*/
nav>form>fieldset{
    display: grid;
    grid-template-areas: 
    "text button";
    border: none;
}

fieldset>input{
    height: 50px;
}

form{
    width: 100%;
}

nav>form{
    grid-area: search;
}

/*Logo / Cart*/
nav>img{
    display: block;
    margin: auto;
    height: 60px;
    width: auto;
}

/*Log in / Create Account*/
main>form{
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;
}

/*Log in*/
main>form:first-of-type>fieldset{
    display: grid;
    grid-template-areas:
        "nameText nameText"
        "text text"
        "passwordText passwordText"
        "password password"
        "none submit";
}

/*Create Account*/
main>form:last-of-type>fieldset{
    display: grid;
    grid-template-rows: auto;
}

main>form:last-of-type>fieldset>input[type="text"], main>form:last-of-type>fieldset>input[type="password"]{
    width: 100%;
}

/*Textfield*/
main>form>fieldset:first-of-type>input[type="text"]{
    grid-area: text;
}

/*Textfield-Password*/
main>form>fieldset:first-of-type>input[type="password"]{
    grid-area: password;
}

/*Submit button*/
main>form>fieldset:first-of-type>input[type="submit"]{
    grid-area: submit;
}

/*Usernamne label */
main>form>fieldset>label:first-of-type{
    grid-area: nameText;
}

/*Password label*/
main>form>fieldset>label:last-of-type{
    grid-area: passwordText;
}