/*Jesper Jensen*/

/*Font on the website*/
h1, h2, h3, p, label, legend, button, input{
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    margin: 0;
    grid-template-columns: 1fr;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: 
    "logo cart"
    "search search";
    background-color: rgb(174, 230, 100);
    padding: 15px;
    row-gap: 5px;
}

main{
    grid-area: main;
    border-left: 1px solid rgb(174, 230, 100);
    border-right: 1px solid rgb(174, 230, 100);
    min-height: 500px;
}

/*Poster container*/
article{
    height: 250px;
    width: 99.6vw;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

/*User information - checkout*/
aside{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}

/*Poster element */
article>section{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(174, 230, 100);
    background-color: rgb(243, 255, 227);
    height: 100%;
    width: 180px;
}

/*Poster images*/
#index article>section> img{
    width: 100%;
}

footer{
    grid-area: footer;
    background-color:rgb(174, 230, 100);
    min-height: 100px;
    padding: 15px;
}

h2{
    margin: 0;
}

/*Search bar*/
nav>form>fieldset, #admin article>form:first-of-type>fieldset{
    display: grid;
    grid-template-areas: 
    "text button";
    grid-template-columns: auto 70px;
    border: none;
    margin: 0;
    padding: 0;
}

/*Removing pre-determined min width*/
input{
    min-width: 50px;
}

/*Form input*/
fieldset>input{
    height: 50px;
    font-size: 1.4em;
    padding-left: 5px;
}

/*Search bar form*/
nav>form{
    grid-area: search;
}

/*Cart + logo settings*/
nav>a>img{
    display: block;
    margin: auto;
    height: 40px;
    width: auto;
}

/*Logo*/
nav>a:first-of-type>img{
    height: 30px;
    margin-top: 5px;
}

/*Log in / Create Account*/
main>div>form, main>div:first-of-type>form, #user>main>form{
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 15px;
}

/*Space between forms*/
form + form{
    margin-top: 15px;
}

main>div>form>fieldset, main>div:first-of-type>form>fieldset, #user main>form>fieldset{
    display: grid;
    grid-template-rows: auto;
    border: none;
}

main>div>form>fieldset>input[type="submit"], main>div:first-of-type>form>fieldset>input[type="submit"], #user main>form>fieldset>input[type="submit"]{
    margin-top: 15px;
}

/*End of Log in / Create Account*/

#product article, #checkout article, #search article, #user article{
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    height: auto;
    overflow: visible;
    padding: 15px;
}

#search article{
    display: initial;
}

#search section + section{
    margin-top: 15px;
}

/*Log out section*/
#search #logOut{
    height: auto;
}

/*Order container*/
#user article{
    border: 1px solid black;
    margin-top: 15px;
}

/*First order no margin*/
#user article:first-of-type{
    margin-top: 0;
}

/*Order container*/
#user article:last-of-type{
    margin-bottom: 15px;
}

/*Img holder*/
#product article>section{
    width: 100%;
    height: auto;
}

#product article>section>img{
    width: 100%;
}

/*Product add button*/
#product article>button{
    width: 100%;
    height: 50px;
}

/*Product info text*/
#product article>p{
    white-space: normal;
}

/*product container*/
#checkout section, #search section, #user section, #admin section{
    display: grid;
    grid-template-areas:
        "img title title"
        "img console price"
        "img none button";
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 40px 40px;
    gap: 15px;
    padding: 15px;
    width: 100%;
    height: auto;
}

/*game image*/
#checkout section>img, #search section>img, #user section>img, #admin section>img{
    grid-area: img;
    height: 150px;
}

/*price*/
#checkout h2:last-of-type, #search h2:last-of-type, #user h2:last-of-type, #admin h2:last-of-type{
    grid-area: price;
}

/*title*/
#checkout h2:first-of-type, #search h2:first-of-type, #user h2:first-of-type, #admin h2:first-of-type{
    grid-area: title;
    white-space: normal;
}

/*console type + general h2*/
#checkout h2, #search h2, #user h2, #admin h2{
    text-align: center;
}


/*remove button*/
#checkout button, #search button, #user button, #admin button{
    grid-area: button;
    width: 80%;
    height: 80%;
    margin-bottom: 15px;
    margin: auto;
}

/*User info container*/
#checkout aside{
    margin: none;
    grid-row: 1;
    grid-column: 3;
}

#admin article{
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

#admin article>form>fieldset{
    border: none;
    padding-left: 0;
    padding-right: 0;
}

/*Search results container*/
#admin div{
    max-height: 600px;
    overflow: auto;
}

/*Users section*/
#admin #users div>section{
    display: grid;
    grid-template-areas: 
        "h2 h2"
        "edit remove";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    background-color: orange;
}

/*Username*/
#admin #users div>section>h2{
    grid-area: h2;
}

/*Remove user button*/
#admin #users div>section>button:first-of-type{
    grid-area: remove;
}

/*Edit user button*/
#admin #users div>section>button:last-of-type{
    grid-area: edit;
}

/*Section spacing*/
#admin section+section{
    margin-top: 15px;
}

/*Add/edit form*/
#admin article:last-of-type>form>fieldset{
    display: grid;
    grid-template-areas: none;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

#admin article:last-of-type>form>fieldset>input{
    width: 100%;
}

#admin article:last-of-type>form>fieldset>input[type=submit]{
    margin-top: 15px;
}
/*End of Add/edit form*/

/*Log out section*/
#logOut{
    background-color: white;
    border: 1px solid black;
    display: none;
    padding-bottom: 15px;
}

/*Log out button*/
#logOut button{
    width: 80%;
    display: block;
    margin: auto;
    min-height: 50px;
    font-size: 1.4em;
}

#logOut button+button{
    margin-top: 15px;
}

#logOut h3{
    text-align: center;
}

#search #logOut button{
    height: initial;
    min-height: 50px;
}

@media (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: 3fr 10fr 3fr;
        grid-template-rows: none;
        column-gap: 50px;
        padding: 15px;
    }

    
    /*Log in, create account, log out*/
    #search div:first-of-type{
        grid-row: 1;
        grid-column: 1;
    }
    
    /*Log in, create account, log out*/
    #product div:first-of-type{
        grid-row: 1;
        grid-column: 1;
    }
    
    /*Grid locaiton new games - recommended games continer*/
    main>div:first-of-type{
        grid-row: 1;
        grid-column: 2;
    }
    
    /*Forms container*/
    #index main>div:last-of-type{
        grid-row: 1;
        grid-column: 1;
    }

    /*Search bar grid*/
    nav>form>fieldset, #admin article>form>fieldset{
        grid-template-columns: 9fr 1fr;
    }

    /*Poster container*/
    #index article{
        height: 350px;
        width: 55vw;
    }

    /*Posters*/
    #index article>section{
        width: 250px;
    }

    article{
        width: 100%;
    }

    /*Navbar*/
    nav{
        grid-template-areas: "logo search cart";
    }

    /*Logo*/
    nav>a:first-of-type>img{
        height: 30px;
        margin-top: 10px;
    }

    /*Cart*/
    nav>a:last-of-type>img{
        height: 50px;
    }

    #checkout article{
        grid-row: 1;
        grid-column: 2;
    }

    #product article{
        height: 250px;
    }    

    /*game image*/
    #product article>section{
        width: 300px;
        height: 400px;
    }

    /*add button*/
    #product article>button{
        width: 100px;
    }

    /*User page grid*/
    #user main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80vh;
    }

    /*Orders container*/
    #user div{
        grid-row: 1;
        grid-column: 1;
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
    }

    /*Orders on user page*/
    #user article{
        box-sizing: border-box;
    }

    /*Edit account*/
    #user form{
        grid-row: 1;
        grid-column: 2;
    }

    /*Admin page grid*/
    #admin main{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }

    /*Admin article title*/
    #admin h1{
        text-align: center;
    }
}